#include "resource.h"

IDR_RTCORE64_SYS       RCDATA  "RTCore64.sys"
IDR_TIMEHACKHOOK32_DLL RCDATA  "TimeHackHook32.dll"
IDR_TIMEHACKHOOK64_DLL RCDATA  "TimeHackHook64.dll"
IDR_MINHOOK32_DLL      RCDATA  "..\\lib\\MinHook.x86.dll"
IDR_MINHOOK64_DLL      RCDATA  "..\\lib\\MinHook.x64.dll"
IDR_GLSLANG_EXE        RCDATA  "glslang.exe"
IDR_SHADER_COMP        RCDATA  "pathtracer.comp"
IDR_SHADER_VERT        RCDATA  "present.vert"
IDR_SHADER_FRAG        RCDATA  "present.frag"
